/* Set the box-sizing property of the HTML element to border-box */
html {
  box-sizing: border-box;
}

/* Inheriting the box-sizing property for all elements and their pseudo-elements */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Setting the margin and padding of all elements to 0 */
* {
  margin: 0;
  padding: 0;
}

/* Settting the background color, font color, font-family and other styles for the body element */
body {
  background: #000;
  color: #fff;
  font-family: sans-serif;
}

/* Setting the background color and padding for the header element */
header {
  background-color: #fff;
  padding: 50px;
}

/* Setting the font color, text-align, and font-weight for the h1*/
header h1 {
  color: #000;
  text-align: center;
  font-weight: 200;
}

/* Setting the width, margin, font-size, border-radius, text-align, padding, and position for the score board */
.score-board {
  width: 500px;
  margin: 50px auto;
  font-size: 50px;
  border-radius: 7px;
  text-align: center;
  padding: 20px 25px;
  position: relative;
}

/* Setting the background color, font color, text-transform, font-size, and padding for the buttons */
.badge {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  padding: 12px 8px;
}

/* Setting the position, top, left, and transform for the user label */
#user-label {
  position: absolute;
  top: 40%;
  left: -7%;
  transform: translate(-10%, -50%);
}

/* Setting the position, top, right, and transform for the computer label */
#computer-label {
  position: absolute;
  top: 40%;
  right: -7%;
  transform: translate(10%, -50%);
}

/* Set the font-weight, text-align, font-size, and line-height for the results */
.result {
  font-weight: 290;
  text-align: center;
  font-size: 25px;
  line-height: 45px;
}

/* Set the line-height for the results */
.result {
  line-height: 45px;
}

/* Setting the margin, text-align, and padding for the icons */
.icons {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}

/* Setting the cursor, display, border, border-radius, padding, margin, and transition for the icons */
.icon {
  cursor: pointer;
  display: inline-block;
  border: 5px solid #fff;
  border-radius: 60%;
  padding: 15px;
  margin: auto 9px;
  transition: all 0.3s ease;
}

/* Setting the text-align, font-weight, text-transform, letter-spacing, and margin for the displayed texts */
#action-message {
  text-align: center;
  font-weight: 490;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 35px 0;
}

/* Styling texts for draws, wins, and losses */


.winningStyles {
  border: 5px solid #000;
  background-color: #fff;
}

.losingStyles {
  border: 5px solid #000;
  background-color: #fff;
}

.drawStyles {
  border: 5px solid #000;
  background-color: #fff;
}

sup {
  margin: 0;
  padding: 0;
}
/* Styling reset button */
.reset-button {
  text-align: center;
  margin-top: 30px;
  
}

button {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
}
/* Setting responsive screen sizes */
@media screen and (max-width: 765px){
  body {
    font-size: 15px;
  }
}


/* The Modal (background) (code from w3schools - article "How To Create a Modal Box")*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content{
  color: black
}